body {
	font-family: 'Nunito';
	height: 100vh;
	margin-left: 0px; 
	margin-right: 0px;

}
.centered-content {
	width: 100%; /* Adjust the width as needed */
	border: 1px solid #000;
	background-color: #d2a679;
}

#navBar nav {
	background-color: #fff7e6;
}

#navBar a{
	color: #392613;
}

.about-section {
	background-color: #f5e6d3; 
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	background-color: #FFAD60;
	border-radius: 50%;
	padding: 20px;
	height: auto;
}

#projects {
	
}

.card {
	border: none;
	background-color: #f5e6d3;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-title {
	color: #333;
	font-weight: bold;
}

.card-text {
	color: #666;
}

.btn-primary {
	background-color: #ff8c00;
	border: none;
}

.btn-primary:hover {
	background-color: #e07b00;
}

.tools-section {
	background-color: #f5e6d3;
	margin-bottom: 20px;
}
.tools-section h4 {
	margin-bottom: 15px;
}
.tools-section img {
	margin: 5px;
	transition: transform 0.3s;
}
.tools-section img:hover {
	transform: scale(1.1);
}

.contact-form {
	margin: 50px auto;
	padding: 25px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
}
.contact-form img {
	margin: 0 10px;
	transition: transform 0.3s;
}
.contact-form img:hover {
	transform: scale(1.1);
}